// 页面容器 - 全屏
.page-container {
  min-height: 100vh;
  position: relative;
  background: #f5f5f5;
  box-sizing: border-box;
}

// 沉浸式头图背景
.header-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; // 设计稿 375px → 750rpx
  height: 32.64vh; // 524rpx -> 524/16.24
  z-index: 0;
}

.head-text {
  color: #fff;
  font-size: 26rpx;
  position: absolute;
  top: 9vh; // 160rpx
  left: 8.53vw; // 64rpx
  left: 64rpx;
}

.form-footer {
  width: 100%;
  height: 142rpx;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0059FF;
  color: #fff;
  border-radius: 16rpx 16rpx 0 0;
  position: fixed;
  bottom: 0;
  font-size: 40rpx;
  line-height: 56rpx;
  z-index: 1;
}

.jump-button {
  width: 64.54vw;
  height: 3.2vh;
  color: #101A2D;
  border: 2px solid #101A2D;
  background-color: #fff;
  border-radius: 26rpx;
  position: absolute;
  top: 25.13vh;
  left: 17.1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24rpx;
  gap: 8rpx;

  .jump-img {
    width: 32rpx;
    height: 32rpx;
  }
}

.main {
  position: absolute;
  top: 30.3vh;
  height: 69.7vh;
  width: 100%;
  background-color: #272A33;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 48rpx 0 0 0;

  .main-title {
    width: 54.67vw;
    height: 9.11vh;
    display: flex;
    flex-direction: column;
    margin-top: 4vh;

    .main-title-one {
      display: flex;
      justify-content: center;
      align-items: center;

      .main-title-one-img {
        width: 11.2vw;
        height: 11.2vw;
      }

      .main-title-one-text {
        font-size: 56rpx;
        color: #fff;
        padding-left: 4.27vw;
      }
    }

    .main-title-two {
      margin-top: 1.47vh;
      color: #fff;
      font-size: 32rpx;
      white-space: nowrap;
    }
  }

  .main-card {
    width: 82.93vw;
    height: 36.95vh;
    margin-top: 3.94vh;
    border-radius: 24rpx;
    background: url(https://objectstorageapi.bja.sealos.run/w7g0b67k-fs-book/completedBg.png) no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;

    .main-card-title {
      width: 37.87vw;
      height: 4.56vh;
      display: flex;
      align-items: center;
      margin-top: 2.96vh;
      justify-content: center;

      .main-card-title-img {
        width: 38rpx;
        height: 74rpx;
      }

      .main-card-title-text {
        margin-left: 2.13vw;
        font-size: 32rpx;
        color: #fff;
      }
    }

    .main-card-content {
      display: flex;
      flex-direction: row;
      margin-top: 2.22vh;

      .main-card-content-Img {
        width: 220rpx;
        height: 332rpx;
      }

      .main-card-content-tip {
        margin-left: 3.2vw;

        .main-card-content-title {
          font-size: 40rpx;
          color: #99E9FF;
        }

        .main-card-tip {
          font-size: 24rpx;
          display: flex;
          flex-direction: column;
          margin-top: 1.97vh;

          .main-card-tip-title {
            color: #fff;
          }

          .main-card-tip-desc {
            margin-top: 0.5vh;
            color: #85DFFF;
          }
        }
      }
    }
  }
}