// 页面容器 - 全屏
.page-container {
  min-height: 100vh;
  position: relative;
  background: #f5f5f5;
  box-sizing: border-box;
}

// 沉浸式头图背景
.header-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; // 设计稿 375px → 750rpx
  height: 524rpx; // 设计稿 262px → 524rpx
  z-index: 0;
  pointer-events: none;
}

.form-footer {
  width: 100%;
  height: 142rpx;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0059FF;
  color: #fff;
  border-radius: 16rpx 16rpx 0 0;
  position: fixed;
  bottom: 0;
  font-size: 40rpx;
  line-height: 56rpx;
  z-index: 10;
}

.jump-button {
  width: 494rpx;
  height: 52rpx;
  color: #101A2D;
  border: 2px solid #101A2D;
  background-color: #fff;
  border-radius: 26rpx;
  position: fixed;
  top: 440rpx;
  left: calc(50% - 247rpx);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24rpx;
  gap: 8rpx;

  .jump-img {
    width: 32rpx;
    height: 32rpx;
  }
}

.main {
  height: 1000rpx;
  background-color: #272A33;
  padding-top: 524rpx;
  display: flex;
  flex-direction: column;
  align-items: center;

  .main-title {
    width: 410rpx;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 64rpx;
    .main-title-one {
      display: flex;
      justify-content: center;

      .main-title-one-img {
        width: 84rpx;
        height: 84rpx;
      }

      .main-title-one-text {
        font-size: 56rpx;
        color: #fff;
        padding-left: 32rpx;
      }
    }

    .main-title-two {
      margin-top: 32rpx;
      color: #fff;
      font-size: 24rpx;
    }
  }

  .main-card {
    width: 622rpx;
    height: 634rpx;
    margin-top: 32rpx;
    border-radius: 24rpx;
    background: url(https://objectstorageapi.bja.sealos.run/w7g0b67k-fs-book/completedBg.png) no-repeat;
    display: flex;
    align-items: center;    
    flex-direction: column;
    justify-content: center;
    .main-card-img {
      width: 326rpx;
      height: 244rpx;
    }
    .main-card-text {
      color: #fff;
      font-size: 40rpx;
      width: 320rpx;
      text-align: center;
      margin-top: 40rpx;
    }
    .main-card-text2 {

    }
  }
}