// 基础容器 - GIF 作为背景
.page-container {
  min-height: 100vh;
  position: relative;
  background: url('https://objectstorageapi.bja.sealos.run/w7g0b67k-fs-book/IMG_1906.GIF') no-repeat center top;
  background-size: cover;
  box-sizing: border-box;
}

.title {
  min-width: 310rpx;
  min-height: 152rpx;
  position: absolute;
  top: 150rpx;
  left: 218rpx;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title-img {
    width: 84rpx;
    height: 84rpx;
  }

  .title-text {
    font-size: 48rpx;
    color: #fff;
    margin-top: 12rpx;
  }
}

// 圆弧分隔线
.arc-line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4rpx solid #1E53FF;
  width: 1000rpx;
  height: 650rpx;
  overflow: hidden;
  border-radius: 50% 50% 0 0;
  margin-top: 380rpx;
  border-bottom: none;
  background-color: #1D2129;
}

// 内容层
.timer-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 520rpx;

  .timer-display {
    font-size: 100rpx;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20rpx;
    letter-spacing: 18rpx;
    text-shadow:
      0 0 10px rgba(0, 89, 255, 0.8),
      0 0 20px rgba(0, 89, 255, 0.6),
      0 0 40px rgba(0, 89, 255, 0.4),
      0 0 60px rgba(0, 89, 255, 0.2);
  }
}

.timer-status {
  min-width: 330rpx;
  min-height: 124rpx;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 150rpx;

  .timer-status-img {
    width: 130rpx;
    height: 52rpx;
  }

  .timer-status-text {
    color: #fff;
    font-size: 40rpx;
    text-align: center;
    margin-top: 24rpx;
  }
}

.timer-voice {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 670rpx;
  height: 364rpx;
  margin-top: 424rpx;
  background-color: #2E3956;
  border-radius: 16rpx;

  .volume-control-item {
    width: 100%;
    max-width: 492rpx;
    margin: 0 auto;
    margin-bottom: 24rpx;
    margin-top: 40rpx;
    .volume-control-item-tip {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: #fff;
      font-size: 28rpx;
      justify-content: space-between;
    }

    .volume-control-item-slider {
      width: 100%;
      margin-left: 0;
    }

    .volume-control-item-slider .wx-slider-handle-wrapper {
      height: 10rpx !important;
    }

    .volume-control-item-text {
      font-size: 24rpx;
      color: #94B9FF;
    }
  }
}

.controls {
  width: 100%;
  height: 142rpx;
  display: flex;
  position: fixed;
  bottom: 0;
  font-size: 40rpx;
  line-height: 56rpx;
  z-index: 100;

  .controls-btn {
    flex: 1;
    color: #fff;
    text-align: center;
    line-height: 142rpx;
  }

  .controls-secondary {
    border-radius: 0 16rpx 0 0;
    background-color: #0059FF;
  }

  .controls-reset {
    border-radius: 16rpx 0 0 0;
    background-color: #3E4E6A;
  }
}