// 基础容器
.page-container {
  min-height: 100vh;
  position: relative;
  background: #f5f5f5;
  box-sizing: border-box;
}

// 沉浸式头图背景
.header-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; // 设计稿 375px → 750rpx
  height: 524rpx; // 设计稿 262px → 524rpx
  z-index: 0;
}

.timer-main {
  z-index: 10;
  .timer-main-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    .timer-main-title-img {
      width: 84rpx;
      height: 84rpx;
    }
    .timer-main-title-text {
      font-size: 48rpx;
      color: #fff;
      margin-top: 12rpx;
    }
  }
}
.controls {
  width: 100%;
  height: 142rpx;
  display: flex;
  position: fixed;
  bottom: 0;
  font-size: 40rpx;
  line-height: 56rpx;
  z-index: 10;

  .controls-btn {
    flex: 1;
    color: #fff;
    text-align: center;
    line-height: 142rpx;
  }

  .controls-secondary {
    border-radius: 0 16rpx 0 0;
    background-color: #0059FF;
  }

  .controls-reset {
    border-radius: 16rpx 0 0 0;
    background-color: #3E4E6A;
  }
}