// 页面容器 - 全屏
.page-container {
  min-height: 100vh;
  position: relative;
  background: #f5f5f5;
  box-sizing: border-box;
}

// 沉浸式头图背景
.header-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; // 设计稿 375px → 750rpx
  height: 32.64vh; // 524rpx -> 524/16.24
  z-index: 0;
}

// 输入框公共样式
.form-input {
  border: 2rpx solid #0160EF;
  border-radius: 16rpx;
  text-align: center;
  font-size: 48rpx; // 48rpx
  color: #0160EF;
}

.label {
  font-size: 32rpx; // 28rpx
}

.head-text {
  color: #fff;
  font-size: 26rpx;
  position: absolute;
  top: 9vh; // 160rpx
  left: 8.53vw; // 64rpx
  left: 64rpx;
}

// 内容包裹层
.content-wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;

  .content-form {
    width: 86.93vw; // 654rpx
    height: 33.13vh;
    margin-top: 27.59vh; // 450rpx
  }

  .form-title {
    height: 5.42vh; // 88rpx
    background-color: #1F2633;
    color: #E4C077;
    border-radius: 3.2vw 3.2vw 0 0; // 24rpx
    font-size: 3.73vw; // 28rpx
    line-height: 5.42vh; // 这里的line-height通常跟height一致
    display: flex;
    align-items: center;
    justify-content: center;

    .form-title-image {
      width: 9.6vw; // 72rpx
      height: 4.43vh; // 72rpx
      margin-right: 2.67vw; // 20rpx
    }
  }

  .form-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 27.59vh;
    background-color: #fff;
    border-radius: 0 0 24rpx 24rpx; // 24rpx

    .form-grid-item-container1 {
      display: flex;
      flex-direction: row;
      align-items: center;

      .form-grid-item1 {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        // 小输入框
        .form-input-small {
          margin-top: 16rpx;
          width: 16.8vw; // 126rpx
          height: 6.9vh; // 112rpx
        }

        &:nth-child(1) {
          min-width: 16.8vw; // 136rpx
          height: 10.84vh; // 196rpx
          white-space: nowrap;
        }

        &:nth-child(2) {
          min-width: 16.8vw; // 136rpx
          height: 10.84vh; // 196rpx
          margin-left: 8.53vw; // 64rpx;
          white-space: nowrap;
        }

        &:nth-child(3) {
          min-width: 21.33vw; // 180rpx
          height: 10.84vh; // 196rpx
          margin-left: 7.47vw;
          white-space: nowrap;
        }

      }
    }

    .form-grid-item-container2 {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 1.48vh;

      .form-grid-item2 {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 33.07vw;
        height: 11.08vh;

        .label {
          font-size: 28rpx;
        }

        // 大输入框
        .form-input-big {
          margin-top: 0.49vh;
          width: 32.53vw; // 200rpx
          height: 5.17vh;
        }

        .form-input-tip {
          margin-top: 0.49vh;
          font-size: 24rpx;
          color: #808080;
        }

        &:nth-child(2) {
          margin-left: 6.67vw;
        }
      }
    }
  }
}

.volume-control {
  width: 86.93vw;
  min-height: 27.59vh;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 3.2vw; // 24rpx
  margin-top: 1.47vh;
  margin-bottom: 10.22vh;
  padding: 24rpx 40rpx;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .volume-control-item-text {
    font-size: 24rpx;
    color: #004FE1;
    white-space: nowrap;
  }

  .volume-control-item {
    width: 65.6vw;
    height: 8.62vh;

    .volume-control-item-title {
      font-size: 32rpx;
    }

    .volume-control-item-slider {
      width: 100%;
      margin-left: 0;
    }

    .volume-control-item-slider .wx-slider-handle-wrapper {
      height: 0.64vh !important;
    }
    
    .volume-control-item-tip {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .volume-control-item-tip-label {
        font-size: 24rpx;
        color: #4D4D4D;
      }

      .volume-control-item-tip-value {
        font-size: 24rpx;
        color: #004FE1;
      }
    }

    

    &:nth-child(2) {
      margin-top: 1.48vh;
    }

    &:nth-child(3) {
      margin-top: 1.48vh;
    }
  }
}



.form-footer {
  width: 100%;
  height: 8.74vh; // 142rpx
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0059FF;
  color: #fff;
  border-radius: 16rpx 16rpx 0 0;
  position: fixed;
  bottom: 0;
  font-size: 40rpx;
  line-height: 56rpx;
  z-index: 10;
}

// 底部背景图
.footer-bg {
  position: fixed;
  bottom: 1.23vh; // 20rpx
  left: 0;
  width: 100%;
  height: 49.26vh; // 800rpx; // 根据图片调整
  z-index: 0;
}

.jump-button {
  width: 65.87vw; // 494rpx
  height: 3.2vh;
  color: #101A2D;
  border: 2px solid #101A2D;
  background-color: #fff;
  border-radius: 26rpx;
  position: absolute;
  top: 23.15vh; // 376rpx
  right: 3.2vw;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24rpx;
  gap: 8rpx;

  .jump-img {
    width: 4.27vw; // 32rpx
    height: 1.97vh;
  }
}